AI뉴스자동화_v1_20260624.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.yna.co.kr/rss/news.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        448
      ],
      "id": "202aaab5-1c5e-4fc3-9cca-107ed7f0e12d",
      "name": "YNA"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -160,
        448
      ],
      "id": "162fbe00-11b2-42e4-9319-2489b88f1567",
      "name": "XML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -160,
        640
      ],
      "id": "ac7cb881-e837-4ee4-b519-aa0ec679c878",
      "name": "XML1"
    },
    {
      "parameters": {
        "url": "https://www.hankyung.com/feed/all-news",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        640
      ],
      "id": "65ddf323-d2bb-4b75-97dc-b8e1c0694547",
      "name": "Hankyung"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -144,
        832
      ],
      "id": "487ab69b-87e3-4ecd-a30a-ec3c41ead23e",
      "name": "XML2"
    },
    {
      "parameters": {
        "url": "http://www.fnnews.com/rss/r20/fn_realnews_all.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        832
      ],
      "id": "09c0325a-aabe-4369-bcc8-9357ece2d006",
      "name": "fnnews"
    },
    {
      "parameters": {
        "jsCode": "function normalizeTitle(title) {\n  return String(title || \"\")\n    .replace(/\\[[^\\]]*\\]/g, \"\")\n    .replace(/[^\\w가-힣\\s]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .slice(0, 35);\n}\n\nconst seenLinks = new Set();\nconst seenTitles = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const link = item.json.link || \"\";\n  const titleKey = normalizeTitle(item.json.title);\n\n  if (!link || !titleKey) continue;\n  if (seenLinks.has(link)) continue;\n  if (seenTitles.has(titleKey)) continue;\n\n  seenLinks.add(link);\n  seenTitles.add(titleKey);\n  unique.push(item);\n}\n\nconst groups = {};\n\nfor (const item of unique) {\n  const source = item.json.source || \"unknown\";\n  if (!groups[source]) groups[source] = [];\n  groups[source].push(item);\n}\n\nconst sources = Object.keys(groups);\nconst mixed = [];\nconst maxLen = Math.max(...sources.map(source => groups[source].length));\n\nfor (let i = 0; i < maxLen; i++) {\n  for (const source of sources) {\n    if (groups[source][i]) {\n      mixed.push(groups[source][i]);\n    }\n  }\n}\n\nreturn mixed.slice(0, 80);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        640
      ],
      "id": "4d0f182f-effd-40be-bfb2-75f4bccbbc9c",
      "name": "Deduplicate News"
    },
    {
      "parameters": {
        "jsCode": "const articles = items.map(item => ({\n  title: item.json.title || \"\",\n  link: item.json.link || \"\",\n  description: item.json.description || \"\",\n  pubDate: item.json.pubDate || \"\",\n  source: item.json.source || \"\"\n}));\n\nreturn [\n  {\n    json: {\n      articlesText: JSON.stringify(articles, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        640
      ],
      "id": "1e099010-3db0-4362-af02-6a4bc9c855ed",
      "name": "Aggregate News"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output?.[0]?.content?.[0]?.text || $json.text || $json.output || \"\";\n\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst parsed = JSON.parse(raw);\n\nreturn parsed.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    source: article.source || \"\",\n    publishedAt: article.publishedAt || \"\",\n    reason: article.reason || \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        640
      ],
      "id": "80e6f8d5-1c80-4d46-995d-a75790e3ed12",
      "name": "Parse Top 3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "당신은 뉴스 요약 전문가입니다.\n\n뉴스를 3문장 이내로 요약하세요.\n\nJSON 금지\n마크다운 금지\n설명 금지\n\n요약문만 출력하세요."
            },
            {
              "content": "=제목:\n{{ $json.title }}\n\n선정 이유:\n{{ $json.reason }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1632,
        544
      ],
      "id": "9c0f95dc-1065-4749-bf1b-0ad7e5961037",
      "name": "AI 요약",
      "credentials": {
        "openAiApi": {
          "id": "fnIOSrxYJnAdIPIX",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=당신은 뉴스 편집국 데스크입니다.\n\n아래 기사 목록에서 오늘 가장 중요한 뉴스 3건만 선정하세요.\n\n선정 기준\n- 국민 생활 영향\n- 경제 영향\n- 국제 영향\n- 장기 파급력\n- 동일 사건 중복 제거\n- 정치적 편향 금지\n\n반드시 JSON 배열만 출력하세요.\n\n예시:\n\n[\n  {\n    \"title\": \"기사 제목\",\n    \"link\": \"기사 링크\",\n    \"source\": \"언론사\",\n    \"publishedAt\": \"원본 publishedAt 값 그대로\",\n    \"reason\": \"선정 이유\"\n  }\n]"
            },
            {
              "content": "=기사 목록:\n\n{{ $json.articlesText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1200,
        640
      ],
      "id": "708f28a3-c337-4ef6-a029-b73e40a9e080",
      "name": "Top3 선정",
      "credentials": {
        "openAiApi": {
          "id": "WUGSEqfJx2QqniPY",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allPreviousItems = $('Topic Filter').all();\n\nreturn items.map(item => {\n  const link = item.json.link || \"\";\n  const original = allPreviousItems.find(prev => prev.json.link === link);\n\n  return {\n    json: {\n      title: item.json.title || \"\",\n      link,\n      source: item.json.source || original?.json.source || \"\",\n      publishedAt:\n        item.json.publishedAt ||\n        original?.json.publishedAt ||\n        original?.json.pubDate ||\n        \"\",\n      summary:\n        item.json.output?.[0]?.content?.[0]?.text ||\n        item.json.content?.[0]?.text ||\n        item.json.summary ||\n        \"\",\n      dedupeKey: link\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        624
      ],
      "id": "7318e46e-2ebc-45b1-98b3-2fa0c2d6b1d5",
      "name": "Prepare For Notion"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -16
      ],
      "id": "276ae1f2-061e-4367-a3be-c7e3324e6ad7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const groups = {};\n\nfor (const item of items) {\n  const source = item.json.source || \"unknown\";\n  if (!groups[source]) groups[source] = [];\n  groups[source].push(item);\n}\n\nconst result = [];\nconst sources = Object.keys(groups);\nconst maxRounds = Math.max(...sources.map(s => groups[s].length));\n\nfor (let i = 0; i < maxRounds; i++) {\n  for (const source of sources) {\n    if (groups[source][i]) {\n      result.push(groups[source][i]);\n    }\n  }\n}\n\nreturn result.slice(0, 30);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        640
      ],
      "id": "0e73d0b5-0bea-47a9-952e-e9604aca5595",
      "name": "Balance Sources"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      topic: \"경제\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        192
      ],
      "id": "0fbbefe0-b839-4abb-a2ee-569802c8ac6e",
      "name": "Set Topic"
    },
    {
      "parameters": {
        "jsCode": "const topic = $('Set Topic').first().json.topic;\n\nconst keywordMap = {\n  경제: [\"경제\",\"주식\",\"증시\",\"금리\",\"환율\",\"투자\",\"부동산\"],\n  IT: [\"AI\",\"반도체\",\"로봇\",\"배터리\",\"클라우드\",\"데이터센터\"],\n  국제: [\"미국\",\"중국\",\"일본\",\"유럽\",\"중동\",\"러시아\"],\n  정치: [\"대통령\",\"국회\",\"정부\",\"선거\"],\n  생활: [\"교육\",\"복지\",\"교통\",\"의료\",\"물가\"]\n};\n\nconst keywords = keywordMap[topic] || [];\n\nreturn items.filter(item => {\n  const text =\n    (item.json.title || \"\") +\n    \" \" +\n    (item.json.description || \"\");\n\n  return keywords.some(k => text.includes(k));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        640
      ],
      "id": "5c19a68d-ccc4-47c5-9cf3-f4aed11a579e",
      "name": "Topic Filter"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.rss.channel.item;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    description: article.description || \"\",\n    publishedAt: article.pubDate || \"\",\n    source: \"연합뉴스\",\n    uniqueKey: article.link || article.guid?._ || article.guid || article.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        448
      ],
      "id": "3847f0c8-37ed-4814-9869-d80570b99c22",
      "name": "Normalize YNA"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.rss.channel.item;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    description: article.description || \"\",\n    publishedAt: article.pubDate || \"\",\n    source: \"한국경제\",\n    uniqueKey: article.link || article.guid?._ || article.guid || article.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        640
      ],
      "id": "54e64360-be03-4576-a896-33a0322bd5e7",
      "name": "Normalize Hankyung"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.rss.channel.item;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    description: article.description || \"\",\n    publishedAt: article.pubDate || \"\",\n    source: \"파이낸셜뉴스\",\n    uniqueKey: article.link || article.guid?._ || article.guid || article.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        832
      ],
      "id": "4bad27fc-119d-4beb-b92e-a11be6927890",
      "name": "Normalize fnnews"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        624
      ],
      "id": "7618cdb4-0860-4d5f-8b45-7e5e96e2917f",
      "name": "Merge Sources"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        624
      ],
      "id": "76239e9a-e297-486f-98a5-53cabd5df2be",
      "name": "Merge Summary"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "388c1da2-1436-8058-b3af-ea27edb83c25",
          "mode": "list",
          "cachedResultName": "뉴스자동화",
          "cachedResultUrl": "https://app.notion.com/p/388c1da214368058b3afea27edb83c25"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "제목|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "요약문|rich_text",
              "textContent": "={{ $json.summary }}"
            },
            {
              "key": "원문링크|rich_text",
              "textContent": "={{ $json.link }}"
            },
            {
              "key": "발행일시|rich_text",
              "textContent": "={{ $json.publishedAt }}"
            },
            {
              "key": "언론사|rich_text",
              "textContent": "={{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2864,
        624
      ],
      "id": "35706f78-3827-4bea-8919-fd3cd0a1f6e4",
      "name": "Save to Notion",
      "credentials": {
        "notionOAuth2Api": {
          "id": "MaxZE4pWScmYZFU5",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be9f076b-8d66-468e-9e6e-35edf83aac18",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        624
      ],
      "id": "619e605c-fea9-4aac-b3c3-74242af8b6a5",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "388c1da2-1436-8058-b3af-ea27edb83c25",
          "mode": "list",
          "cachedResultName": "뉴스자동화",
          "cachedResultUrl": "https://app.notion.com/p/388c1da214368058b3afea27edb83c25"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2256,
        624
      ],
      "id": "a272cf3a-bcd6-4d06-9cb6-a9cc9e5811a4",
      "name": "Check Existing News",
      "credentials": {
        "notionOAuth2Api": {
          "id": "MaxZE4pWScmYZFU5",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = $('Prepare For Notion').all();\nconst existingItems = items;\n\nconst existingLinks = new Set(\n  existingItems\n    .map(item => item.json['원문링크'] || item.json.url || item.json.link || \"\")\n    .filter(Boolean)\n);\n\nreturn newItems.map(item => {\n  const link = item.json.link || item.json.dedupeKey || \"\";\n  return {\n    json: {\n      ...item.json,\n      isDuplicate: existingLinks.has(link)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        624
      ],
      "id": "21688979-7eb2-438f-ab04-1cb2759648b0",
      "name": "Check Duplicate Code"
    }
  ],
  "pinData": {},
  "connections": {
    "YNA": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Normalize YNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Normalize Hankyung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hankyung": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "Normalize fnnews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fnnews": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate News": {
      "main": [
        [
          {
            "node": "Balance Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News": {
      "main": [
        [
          {
            "node": "Top3 선정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Top 3": {
      "main": [
        [
          {
            "node": "AI 요약",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Summary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI 요약": {
      "main": [
        [
          {
            "node": "Merge Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top3 선정": {
      "main": [
        [
          {
            "node": "Parse Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For Notion": {
      "main": [
        [
          {
            "node": "Check Existing News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balance Sources": {
      "main": [
        [
          {
            "node": "Topic Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Hankyung",
            "type": "main",
            "index": 0
          },
          {
            "node": "YNA",
            "type": "main",
            "index": 0
          },
          {
            "node": "fnnews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Filter": {
      "main": [
        [
          {
            "node": "Aggregate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YNA": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Hankyung": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize fnnews": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Deduplicate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Summary": {
      "main": [
        [
          {
            "node": "Prepare For Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing News": {
      "main": [
        [
          {
            "node": "Check Duplicate Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1f29a84d-ead6-4dca-8e01-dbc7d2bed36a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6660460a9c592da2c37732719fb77cc248d0b41b7d6fc980b55f5d86989d4f"
  },
  "nodeGroups": [],
  "id": "9n2oRWXeQlkDwcvD",
  "tags": []
}