AI뉴스자동화_v2_20260624.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.yna.co.kr/rss/news.xml",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1968,
        -1472
      ],
      "id": "794bc0f5-b9a2-4b3c-87c5-f5517db3e75a",
      "name": "YNA"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1776,
        -1472
      ],
      "id": "1e9a9cfa-5b18-4ab6-8793-051ba2f6af99",
      "name": "XML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1776,
        -1280
      ],
      "id": "c8af441d-72a9-4a60-a3d0-1e7116c4aa3c",
      "name": "XML1"
    },
    {
      "parameters": {
        "url": "https://www.hankyung.com/feed/all-news",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1968,
        -1280
      ],
      "id": "e720df0b-6e3f-482f-9dba-110f37fa1ddd",
      "name": "Hankyung"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1760,
        -1088
      ],
      "id": "c07ba489-3e7f-4202-b969-6f3abba05ee7",
      "name": "XML2"
    },
    {
      "parameters": {
        "url": "https://www.fnnews.com/rss/r20/fn_realnews_all.xml",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1968,
        -1088
      ],
      "id": "3dc62d11-5bc0-4826-9334-db7c282ff639",
      "name": "fnnews"
    },
    {
      "parameters": {
        "jsCode": "if (items.length === 0) return [];\n\nfunction normalizeTitle(title) {\n  return String(title || \"\")\n    .replace(/\\[[^\\]]*\\]/g, \"\")\n    .replace(/[^\\w가-힣\\s]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .slice(0, 35);\n}\n\nconst seenLinks = new Set();\nconst seenTitles = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const link = item.json.link || \"\";\n  const titleKey = normalizeTitle(item.json.title);\n\n  if (!link || !titleKey) continue;\n  if (seenLinks.has(link)) continue;\n  if (seenTitles.has(titleKey)) continue;\n\n  seenLinks.add(link);\n  seenTitles.add(titleKey);\n  unique.push(item);\n}\n\nconst groups = {};\n\nfor (const item of unique) {\n  const source = item.json.source || \"unknown\";\n  if (!groups[source]) groups[source] = [];\n  groups[source].push(item);\n}\n\nconst sources = Object.keys(groups);\nconst mixed = [];\nconst maxLen = Math.max(...sources.map(source => groups[source].length));\n\nfor (let i = 0; i < maxLen; i++) {\n  for (const source of sources) {\n    if (groups[source][i]) {\n      mixed.push(groups[source][i]);\n    }\n  }\n}\n\nreturn mixed.slice(0, 80);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -1280
      ],
      "id": "5335e5d2-a9b0-4155-ae3d-60aac357ced1",
      "name": "Deduplicate News"
    },
    {
      "parameters": {
        "jsCode": "const articles = items.map(item => ({\n  title: item.json.title || \"\",\n  link: item.json.link || \"\",\n  description: item.json.description || \"\",\n  pubDate: item.json.pubDate || \"\",\n  source: item.json.source || \"\"\n}));\n\nreturn [\n  {\n    json: {\n      articlesText: JSON.stringify(articles, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -1280
      ],
      "id": "2a34bea4-9747-404e-a400-c98b9440ecee",
      "name": "Aggregate News"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output?.[0]?.content?.[0]?.text || $json.text || $json.output || \"\";\n\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst parsed = JSON.parse(raw);\n\nreturn parsed.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    source: article.source || \"\",\n    publishedAt: article.publishedAt || \"\",\n    reason: article.reason || \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -1280
      ],
      "id": "ecaaff62-5b66-417e-ae13-0923176795e7",
      "name": "Parse Top 3"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -1280
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "기사 원문 가져오기",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const copyrightPatterns = [\n  \"무단전재\", \"재배포 금지\", \"무단 복제\", \"무단복제\",\n  \"저작권자\", \"무단 전재\", \"기사 원문의 저작권\",\n  \"무단전재 및 재배포\", \"저작권법에 의해\"\n];\n\nreturn items.map(item => {\n  const html = String(item.json.data || item.json.body || \"\").toLowerCase();\n  const hasCopyright = copyrightPatterns.some(p => html.includes(p));\n\n  const prev = $('Parse Top 3').all();\n  const link = item.json.link || \"\";\n  const original = prev.find(o => o.json.link === link) || {};\n\n  return {\n    json: {\n      title: original.json?.title || item.json.title || \"\",\n      link: link,\n      source: original.json?.source || item.json.source || \"\",\n      publishedAt: original.json?.publishedAt || item.json.publishedAt || \"\",\n      reason: original.json?.reason || item.json.reason || \"\",\n      hasCopyright: hasCopyright\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -1280
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "저작권 검사"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "copyright-check",
              "leftValue": "={{ $json.hasCopyright }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -1280
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "저작권 분기"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "당신은 뉴스 요약 전문가입니다.\n\n뉴스를 3문장 이내로 요약하세요.\n\nJSON 금지\n마크다운 금지\n설명 금지\n\n요약문만 출력하세요."
            },
            {
              "content": "=제목:\n{{ $json.title }}\n\n선정 이유:\n{{ $json.reason }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        720,
        -1376
      ],
      "id": "0fbe379b-af2a-474a-ae48-4025e64385f8",
      "name": "AI 요약",
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "fnIOSrxYJnAdIPIX",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    title: item.json.title || \"\",\n    link: item.json.link || \"\",\n    source: item.json.source || \"\",\n    publishedAt: item.json.publishedAt || \"\",\n    reason: item.json.reason || \"\",\n    summary: \"⚠️ 저작권 보호 기사 - AI 요약 불가. 제목만 기록합니다.\",\n    copyrightWarning: true\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -1168
      ],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "제목만 사용"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=당신은 뉴스 편집국 데스크입니다.\n\n아래 기사 목록에서 오늘 가장 중요한 뉴스 3건만 선정하세요.\n\n선정 기준\n- 국민 생활 영향\n- 경제 영향\n- 국제 영향\n- 장기 파급력\n- 동일 사건 중복 제거\n- 정치적 편향 금지\n\n반드시 JSON 배열만 출력하세요.\n\n예시:\n\n[\n  {\n    \"title\": \"기사 제목\",\n    \"link\": \"기사 링크\",\n    \"source\": \"언론사\",\n    \"publishedAt\": \"원본 publishedAt 값 그대로\",\n    \"reason\": \"선정 이유\"\n  }\n]"
            },
            {
              "content": "=기사 목록:\n\n{{ $json.articlesText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -416,
        -1280
      ],
      "id": "ceea3a4a-e519-4dcb-9851-4b9d1d405012",
      "name": "Top3 선정",
      "onError": "continueRegularOutput",
      "credentials": {
        "openAiApi": {
          "id": "WUGSEqfJx2QqniPY",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allPreviousItems = $('Topic Filter').all();\n\nreturn items.map(item => {\n  const link = item.json.link || \"\";\n  const original = allPreviousItems.find(prev => prev.json.link === link);\n\n  return {\n    json: {\n      title: item.json.title || \"\",\n      link,\n      source: item.json.source || original?.json.source || \"\",\n      publishedAt:\n        item.json.publishedAt ||\n        original?.json.publishedAt ||\n        original?.json.pubDate ||\n        \"\",\n      summary:\n        item.json.summary ||\n        item.json.output?.[0]?.content?.[0]?.text ||\n        item.json.content?.[0]?.text ||\n        \"\",\n      dedupeKey: link\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -1296
      ],
      "id": "7ceaec8f-3bf2-48d5-8402-b2109a894ab0",
      "name": "Prepare For Notion"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1776,
        -1936
      ],
      "id": "edc1e3c3-71ca-4698-8e2c-5ce81b6e28a5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const groups = {};\n\nfor (const item of items) {\n  const source = item.json.source || \"unknown\";\n  if (!groups[source]) groups[source] = [];\n  groups[source].push(item);\n}\n\nconst result = [];\nconst sources = Object.keys(groups);\nconst maxRounds = Math.max(...sources.map(s => groups[s].length));\n\nfor (let i = 0; i < maxRounds; i++) {\n  for (const source of sources) {\n    if (groups[source][i]) {\n      result.push(groups[source][i]);\n    }\n  }\n}\n\nreturn result.slice(0, 30);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -1280
      ],
      "id": "edb78d37-6e9c-4251-89df-9c507c687931",
      "name": "Balance Sources"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      topic: \"경제\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        -1728
      ],
      "id": "1f35446b-771f-4e9f-a88c-3a2b01d55aba",
      "name": "Set Topic"
    },
    {
      "parameters": {
        "jsCode": "const topic = $('Set Topic').first().json.topic;\n\nconst keywordMap = {\n  경제: [\"경제\",\"주식\",\"증시\",\"금리\",\"환율\",\"투자\",\"부동산\"],\n  IT: [\"AI\",\"반도체\",\"로봇\",\"배터리\",\"클라우드\",\"데이터센터\"],\n  국제: [\"미국\",\"중국\",\"일본\",\"유럽\",\"중동\",\"러시아\"],\n  정치: [\"대통령\",\"국회\",\"정부\",\"선거\"],\n  생활: [\"교육\",\"복지\",\"교통\",\"의료\",\"물가\"]\n};\n\nconst keywords = keywordMap[topic] || [];\n\nreturn items.filter(item => {\n  const text =\n    (item.json.title || \"\") +\n    \" \" +\n    (item.json.description || \"\");\n\n  return keywords.some(k => text.includes(k));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -1280
      ],
      "id": "ed9de82d-28d5-4cbd-bdc7-3aa67c3d436d",
      "name": "Topic Filter"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.rss.channel.item;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    description: article.description || \"\",\n    publishedAt: article.pubDate || \"\",\n    source: \"연합뉴스\",\n    uniqueKey: article.link || article.guid?._ || article.guid || article.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        -1472
      ],
      "id": "7ed1fac6-81ce-449f-bd68-65deafaa33e5",
      "name": "Normalize YNA"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.rss.channel.item;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    description: article.description || \"\",\n    publishedAt: article.pubDate || \"\",\n    source: \"한국경제\",\n    uniqueKey: article.link || article.guid?._ || article.guid || article.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        -1280
      ],
      "id": "8df9097a-9742-417b-b4c3-41f07a7be806",
      "name": "Normalize Hankyung"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.rss.channel.item;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title || \"\",\n    link: article.link || \"\",\n    description: article.description || \"\",\n    publishedAt: article.pubDate || \"\",\n    source: \"파이낸셜뉴스\",\n    uniqueKey: article.link || article.guid?._ || article.guid || article.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        -1088
      ],
      "id": "7d6b66e9-4ca4-4240-87ab-8ced7be7bedd",
      "name": "Normalize fnnews"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1328,
        -1296
      ],
      "id": "fa6c1138-d301-4c99-961e-e6d8fab074df",
      "name": "Merge Sources"
    },

    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "388c1da2-1436-8058-b3af-ea27edb83c25",
          "mode": "list",
          "cachedResultName": "뉴스자동화",
          "cachedResultUrl": "https://app.notion.com/p/388c1da214368058b3afea27edb83c25"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "제목|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "요약문|rich_text",
              "textContent": "={{ $json.summary }}"
            },
            {
              "key": "원문링크|rich_text",
              "textContent": "={{ $json.link }}"
            },
            {
              "key": "발행일시|rich_text",
              "textContent": "={{ $json.publishedAt }}"
            },
            {
              "key": "언론사|rich_text",
              "textContent": "={{ $json.source }}"
            },
            {
              "key": "중복키|rich_text",
              "textContent": "={{ $json.dedupeKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1168,
        -1296
      ],
      "id": "6af6fc90-04fc-4700-ac93-2c949d4aa253",
      "name": "Save to Notion",
      "credentials": {
        "notionOAuth2Api": {
          "id": "MaxZE4pWScmYZFU5",
          "name": "Notion OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "YNA": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Normalize YNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Normalize Hankyung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hankyung": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "Normalize fnnews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fnnews": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate News": {
      "main": [
        [
          {
            "node": "Balance Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News": {
      "main": [
        [
          {
            "node": "Top3 선정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Top 3": {
      "main": [
        [
          {
            "node": "기사 원문 가져오기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기사 원문 가져오기": {
      "main": [
        [
          {
            "node": "저작권 검사",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저작권 검사": {
      "main": [
        [
          {
            "node": "저작권 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저작권 분기": {
      "main": [
        [
          {
            "node": "제목만 사용",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI 요약",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 요약": {
      "main": [
        [
          {
            "node": "Prepare For Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "제목만 사용": {
      "main": [
        [
          {
            "node": "Prepare For Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top3 선정": {
      "main": [
        [
          {
            "node": "Parse Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For Notion": {
      "main": [
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balance Sources": {
      "main": [
        [
          {
            "node": "Topic Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Hankyung",
            "type": "main",
            "index": 0
          },
          {
            "node": "YNA",
            "type": "main",
            "index": 0
          },
          {
            "node": "fnnews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Filter": {
      "main": [
        [
          {
            "node": "Aggregate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YNA": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Hankyung": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize fnnews": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Deduplicate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a5547542-a4de-4a8a-9436-6e8f3bebd3d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6660460a9c592da2c37732719fb77cc248d0b41b7d6fc980b55f5d86989d4f"
  },
  "nodeGroups": [],
  "id": "SKVzaQXgXzwGcITc",
  "tags": []
}